/*Colors*/
/*Shadows*/
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1500px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: #525252;
}

section {
  margin: 20px;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../DM_Sans/DMSans-Regular.ttf);
}

@font-face {
  font-family: 'DM Sans Medium';
  src: url(../DM_Sans/DMSans-Medium.ttf);
}

* {
  font-family: 'DM Sans', sans-serif;
}

h1 {
  color: #D3573C;
  font-family: 'DM Sans';
  font-size: 2em;
}

h2 {
  color: #D3573C;
  font-family: 'DM Sans';
}

.header {
  margin-bottom: 100px;
}

@media screen and (max-width: 425px) {
  .header {
    margin-bottom: 20px;
  }
}

.header--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header--home h1 {
  color: #901C1C;
}

.header__logo {
  width: 230px;
}

.header img {
  width: 270px;
}

@media screen and (max-width: 425px) {
  .header img {
    margin-left: -30px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio__item {
  margin: 20px;
}

.portfolio__item--content {
  width: 350px;
  height: 300px;
  background: #C4C4C4;
  border-radius: 5px;
  background-size: 350px 300px;
}

@media screen and (max-width: 425px) {
  .portfolio__item--content {
    width: 250px;
    height: 200px;
  }
}

.portfolio__item img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 425px) {
  .portfolio__item img {
    width: 250px;
    height: 200px;
  }
}

.portfolio__item video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__text {
  color: #901C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__text i {
  color: #901C1C;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  .introduction {
    background-color: #FFF;
    padding: 0;
  }
}

.introduction__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  .introduction__text ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.introduction__text--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__text--contact h1 {
  font-size: 3em;
  margin: 0 120px 0 0;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .introduction__text--contact h1 {
    font-size: 1.6em;
    margin-right: 20px;
  }
}

.introduction__text--motto {
  color: #525252;
}

@media screen and (max-width: 425px) {
  .introduction__text--motto {
    font-size: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  #open {
    position: fixed;
    left: 50vh;
    bottom: 20px;
    z-index: 100;
  }
}

form {
  margin: 20px;
}

.current-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  background-color: #DB8876;
  bottom: 0;
  right: 20px;
}

@media screen and (max-width: 425px) {
  .current-information {
    display: none;
  }
}

.current-information p {
  margin: 0;
}

.content {
  position: fixed;
  display: none;
  left: 50%;
  padding: 5px;
  border-radius: 5px;
  background-color: #DB8876;
  color: #000;
  font-weight: 700;
  z-index: 1;
}

.button {
  background-color: #901C1C;
  color: #FAFAFA;
  padding: 10px;
  font-weight: bold;
  border: hidden;
  border-radius: 4px;
  height: 40px;
}

.button:hover {
  background-color: #DB8876;
  color: #000;
  cursor: pointer;
}

.button--submit {
  width: 130px;
  margin-top: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .dropdown__menu {
    display: none;
  }
}

#dropdown {
  margin-left: 15px;
}

.dropbtn {
  color: #FFF;
  padding: 16px;
  width: 150px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: relative;
}

.dropbtn::after {
  content: "";
  width: 130px;
  height: 41px;
  z-index: 2;
  position: absolute;
  left: 10px;
  border-bottom: #FFF solid 1px;
  display: block;
}

.dropbtn i {
  margin-left: 20px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #901C1C;
  color: #FFF;
}

.dropbtn li {
  color: #FFF;
}

li.sort-option:nth-child(1)::after, li.sort-option:nth-child(2)::after {
  content: "";
  width: 130px;
  height: 41px;
  position: absolute;
  left: 10px;
  border-bottom: solid #FFF 1px;
}

#popularite, #date, #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popularite:hover, #date:hover, #titre:hover {
  cursor: pointer;
}

#date:hover {
  cursor: pointer;
}

#titre:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  width: 150px;
  margin-top: 0;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.dropdown-content li {
  color: #FFF;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.tag {
  color: #901C1C;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 10px;
  margin: 5px;
  border: solid 1px rgba(82, 82, 82, 0.2);
  border-radius: 25px;
}

.tag a {
  color: #901C1C;
}

.tag a:visited {
  color: #901C1C;
}

.active {
  background-color: #901C1C;
}

.active li a {
  color: #FAFAFA;
}

.active a {
  color: #FAFAFA;
}

.active a:visited {
  color: #FAFAFA;
}

li.tag:hover {
  background-color: #901C1C;
}

li.tag:hover a {
  color: #FAFAFA;
}

.modal--background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal__content {
  margin: 5% auto;
  width: 550px;
  height: 750px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  background: #DB8876;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: #000;
  padding-top: 10px;
}

.modal__content--body {
  padding: 0;
  margin: 15px auto;
}

.modal__content--title {
  color: #000;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 50px;
  margin: 0 20px;
}

.modal__form--data {
  width: 100%;
}

.modal__form label {
  font-family: 'DM Sans';
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 2px;
}

.modal__form input {
  padding: 8px;
  outline: none;
  border: transparent;
  border-radius: 5px;
  height: 50px;
}

.modal__form textarea {
  resize: none;
  width: 100%;
  padding: 8px;
  height: 170px;
  border-radius: 5px;
  border: transparent;
}

.modal--close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.modal--close::after, .modal--close::before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: #fff;
}

.modal--close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal--close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 4;
  margin: 0;
  overflow: auto;
  -webkit-animation: lightbox .5s;
          animation: lightbox .5s;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.lightbox .vanish {
  opacity: 0;
}

.lightbox__prev {
  right: auto;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightbox__next, .lightbox__prev {
  background: url(../../FishEye_Photos/arrow.svg) center center/16px 28px no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -14px;
  z-index: 5;
}

.lightbox__close {
  width: 22px;
  height: 22px;
  background: url(../../FishEye_Photos/cross.svg) center center/100% 100% no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 6;
}

.lightbox button {
  opacity: .5;
  cursor: pointer;
  border: none;
  text-indent: -3000px;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin-left: 50px;
  margin-right: 50px;
}

.lightbox__container img, .lightbox__container video {
  width: auto;
  height: 80vh;
  border-radius: 5px;
  -webkit-animation: lightbox .5s;
          animation: lightbox .5s;
}

.lightbox__title {
  color: #901C1C;
  margin-left: 50px;
}

@-webkit-keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.presentation__photographer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  width: 310px;
  /* img{
            width: 300px;
            height: 300px;
            margin-top: -24px;
            margin-left: -37px;
        }*/
}

.presentation__photographer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__photographer--round {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  background: #C4C4C4;
  background-size: 300px 300px;
  background-position: -33px -23px;
}

@media screen and (max-width: 425px) {
  .presentation__photographer--round {
    width: 100px;
    height: 100px;
  }
}

.presentation__photographer--round img {
  width: 300px;
  height: 300px;
  margin-top: -24px;
  margin-left: -37px;
}

@media screen and (max-width: 425px) {
  .presentation__photographer--round img {
    width: 180px;
    height: 180px;
  }
}

.presentation__photographer h2 {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 0%;
}

.presentation__photographer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

.presentation__text {
  text-align: center;
  line-height: 0.7;
}

.presentation__text--location {
  color: #901C1C;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .presentation__text--location {
    font-size: 12px;
    margin: 0;
  }
}

.presentation__text--motto {
  color: #000;
  font-weight: 400;
  font-size: 0.9em;
}

.presentation__text--price {
  color: #525252;
  font-size: 0.8em;
}
/*# sourceMappingURL=main.css.map */