.header{
    margin-bottom: 100px;
    @include breakpoint(small){
        margin-bottom: 20px;
    }
    &--home{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h1{
            color: $color-primary;
        }
    }    
    &__logo{
        width: 230px;
    }
    img{
        width: 270px;
        @include breakpoint(small){
            margin-left: -30px;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
        }
    }
}