.introduction{
    display: flex;
    justify-content: space-between;
    background-color: $color-light;
    padding: 20px;
    @include breakpoint(small){
        background-color: $color-white;
        padding: 0;
    }
    &__text{
        ul{
            display:flex;
            @include breakpoint(small){
                flex-wrap: wrap;
            }
        }
        &--contact{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-size: 3em;
                margin: 0 120px 0 0;
                font-weight: 400;
                @include breakpoint(small){
                    font-size: 1.6em;
                    margin-right: 20px;
                }
            }
        }
        &--motto{
            color: $color-dark;
            @include breakpoint(small){
                font-size: 10px;
                margin: 0;
            }
        }
    }
}

#open{
    @include breakpoint(small){
        position: fixed;
        left: 50vh;
        bottom: 20px;
        z-index: 100;
    }
}

form{
    margin: 20px;
}


.current-information{
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    position: fixed;
    background-color: $color-secondary;
    bottom: 0;
    right: 20px;
    @include breakpoint(small){
        display: none;
    }
    p{
        margin: 0;
    }
}