/*Colors*/

$color-primary: #901C1C;
$color-secondary:#DB8876 ;
$color-dark: #525252;
$color-light: #FAFAFA;
$color-black: #000;
$color-white: #FFF;
$modal-bground: rgba(196, 196, 196, 0.4);
$typography-primary:#D3573C;
$photo-background: #C4C4C4;

/*Shadows*/
$shadow-round:rgba(0, 0, 0, 0.25) 0px 4px 12px;